/* Register - Inherits from Login */
@import './Login.css';

.register-container {
  composes: login-container;
}

.register-card {
  composes: login-card;
  max-width: 480px;
}

.register-header {
  composes: login-header;
}

.register-icon {
  composes: login-icon;
}

.register-form {
  composes: login-form;
}

.register-footer {
  composes: login-footer;
}
